#administrative
    ul.range
        li
            .color(style="background: #E83C3A;")
            .title Алеутский
        li
            .color(style="background: #8FCDF1;")
            .title Быстринский
        li
            .color(style="background: #77BD45;")
            .title Елизовский
        li
            .color(style="background: #F2E074;")
            .title Карагинский
        li
            .color(style="background: #EC603A;")
            .title Мильковский
        li
            .color(style="background: #8A5489;")
            .title Олюторский
        li
            .color(style="background: #DF553E;")
            .title Пенжинский
        li
            .color(style="background: #DB8B30;")
            .title Соболевский
        li
            .color(style="background: #FF97AB;")
            .title Тигильский
        li
            .color(style="background: #FF0011;")
            .title Усть-Большерецкий
        li
            .color(style="background: #004072;")
            .title Усть-Камчатский