ul.range
    li
        .color(style="background: #FF822E;")
        .title < 20 чел./км²
    li
        .color(style="background: #FF6D1F;")
        .title 20 &ndash; 30 чел./км²
    li
        .color(style="background: #FF6517;")
        .title 30 &ndash; 40 чел./км²
    li
        .color(style="background: #FA5B0F;")
        .title 40 &ndash; 50 чел./км²
    li
        .color(style="background: #EF5411;")
        .title > 50 чел./км²