ul.range
    li
        .color(style="background: #e5c637;")
        .title 0-15000
    li
        .color(style="background: #e7a649;")
        .title 15000-20000
    li
        .color(style="background: #eb8831;")
        .title 20000-30000
    li
        .color(style="background: #e76e2c;")
        .title 40000-50000
    li
        .color(style="background: #941616;")
        .title больше 50000
.population-count 1 162 235 чел.