ul.range
    li
        .color(style="background: #96ED89;")
        .title 300-400
    li
        .color(style="background: #45BF55;")
        .title 400-500
    li
        .color(style="background: #168039;")
        .title 500-1000
    li
        .color(style="background: #044D29;")
        .title 1000-2000
    li
        .color(style="background: #00261C;")
        .title больше 2000