.right-button-group
  .participate-btn
    .title=t("titles.participate")
  .natural-resources-btn
    .title=t("titles.natural_resources")
  .info-layers-btn
    .title=t("infra_layers.title")
    i

