ul.range
    li
        .color.color-1
        .counters 0-1000
    li
        .color.color-2
        .counters 1000-2000
    li
        .color.color-3
        .counters 2000-4000
    li
        .color.color-4
        .counters 4000-10000
    li
        .color.color-5
        .counters 10000-50000
    li
        .color.color-6
        .counters больше 50000
.population-count 320 549 чел.
