// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import "nib"

*
  outline none
html, body
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  transform: translate3d(0, 0, 0)
  user-select: none
  font-size: 10px
  overflow hidden

a
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

.clear
  clear: both
input
  outline: 0