#badbrowser
  .chromeFrameOverlayContent
    top 180px
    margin-top 0px
    border-color #eee
    iframe
      height 500px !important
  .chromeFrameOverlayCloseBar
    display none
  #chromeFrameCloseButton
    display none
  .chromeFrameOverlayUnderlay
    display none
  .container
    background url("../images/map-badbrowsers.png") no-repeat right 60px
    width 800px
    margin 0 auto
    font-family "Helvetica Neue"
    font-weight 400
    padding-top 60px
    min-height 400px
    _height 400px
    .left-column
      width 400px
      .logo
        background url("../images/logo-badbrowsers.png") no-repeat
        width 357px
        height 75px
      .description
        padding-top 40px
        font-size 16px
        color #444
        font-family: "Helvetica Neue"
        font-weight 400
        line-height 1.5em
      .btn 
        background #ee6130
        width 250px
        line-height 54px
        font-size 16px
        font-family: "Helvetica Neue"
        font-weight 400
        color #fff
        text-align center
        text-transform uppercase
        margin-top  55px
        display block
        text-decoration none
        &:active
          background #EC8561
        &:hover
          background #EC8561
      .remark
        margin-top: 35px
        color: #AAA
        font-size: 12px
        font-family: "Helvetica Neue"
        padding-left: 20px
        position: relative
        line-height: 1.3em
        width: 800px
        position: absolute
        bottom: 20px
        .remark-icon
          position absolute
          left 0
          top 0
          color #ee6130
          font-size 20px


