.change-locale
  color #ffffff
  width 31px
  height 31px
  text-align center
  line-height 31px
  cursor pointer
  float right
  background-color rgba(25, 27, 31, 0.7)

  &:active
    background-color: rgba(235, 91, 47, 0.9)