noindex:-o-prefocus, body
  #site
    .bubble
      &.platform-marker
        .inner-circle
          background-image: url(../images/fixes/platforms.png)
      &.project-marker
        .inner-circle
          background-image: url(../images/fixes/project.png)
          background-size 2.5em
          background-position center
      &.idea-marker
        .inner-circle
          background-image: url(../images/fixes/idea.png)
          background-size 36px
          background-position center
      &.company-marker
        .inner-circle
          background-image: url(../images/fixes/company.png)
          background-size 24px
          background-position center
      &.city-marker
        .inner-circle
          background-image: url(../images/fixes/city.png)
          background-size 24px
          background-position center
      &:active, &.active, &:hover, &.opened
        &.platform-marker
          .inner-circle
            background-image: url(../images/fixes/platforms-active.png)
        &.project-marker
          .inner-circle
            background-image: url(../images/fixes/project-active.png)
            background-size 2.5em
            background-position center
        &.idea-marker
          .inner-circle
            background-image: url(../images/fixes/idea-active.png)
            background-size 36px
            background-position center