.header
  .logo
    position: absolute
    top:  0.7em
    left: 1em
  .site-name
    position: absolute
    top: 1.7em
    left:  8em
    font-family: "Helvetica Neue"
    font-weight 400
    color: #fff
    text-transform: uppercase
    .specific
      font-size: 1.5em
    > .title
      font-size: 3em
      font-weight: bold
      line-height: 1.1em
  .natural-resources-btn
    margin-right 5px
  .info-layers-btn, .natural-resources-btn
    display: inline-block
    padding: 0 1.2em
    color: #fff
    line-height: 2.9em
    cursor: pointer
    background rgba(25,27,31, 0.7)
    font-family: "Helvetica Neue"
    font-weight: 400
    &:active
      background: rgba(235,91,47, 0.9)
    .title
      text-transform: uppercase
      font-size: 12px
      display: inline-block
      padding-top: 2px

    i
      background: url("../images/info-layer-btn.png") no-repeat bottom center
      width: 1.8em
      height: 1.5em
      display: inline-block
      margin-right: 1.3em
      float: left
      margin-top: 0.75em
  .right-button-group
    position: absolute
    right: 5px
    top: 5px
    #infra-layers-container, #natural-resources-container
      display: inline-block
    #participate-container
      display: inline-block

