.iScrollVerticalScrollbar
  .iScrollIndicator
    border-radius: 0 !important
    border none !important
    background: none !important
    cursor: pointer
    width: auto !important
    left: -0.5em
    right: -0.5em
    div
      background: #e78460
      transition: all 0.1s ease
      left: 0.5em
      right: 0.5em
      top: 0
      bottom: 0
      position: absolute
    &:hover, &:active
      div
        border-radius: 0
        left: 0.3em
        right: 0.3em