@import nib

.bubble.little-bubble
  line-height: 15px

  .count
    font-size: 8px
    left: 10px
    top: -6px
    padding: 0 4px
    line-height: 12px
    border-radius: 14px

  &.transform-station-marker
    border: 3px solid #fff
    width: 18px
    height: 18px
    border-radius 12px
    background: url(../images/info-layers/transformer-station.png) center no-repeat #abc506
    .count
      border: 1px solid #0091ed

  &.gas-consumer-existing-marker
    border: 3px solid #fff
    width: 18px
    height: 18px
    border-radius 12px
    background: url(../images/info-layers/gas-consumer-existing.png) center no-repeat #d51f00
    .count
      border: 1px solid #d51f00

  &.gas-consumer-perspective-marker
    border: 3px solid #fff
    width: 18px
    height: 18px
    border-radius 30px
    background: url(../images/info-layers/gas-consumer-perspective.png) center no-repeat #bdb3b1
    .count
      border: 1px solid #bdb3b1

  &.reducing-gas-distribution-station-marker
    border: 3px solid #fff
    width: 18px
    height: 18px
    border-radius 18px
    background: url(../images/info-layers/reducing-gas-distribution-station.png) center no-repeat #ff4000
    .count
      border: 1px solid #ff4000

  &.gas-station-existing-marker
    border: 3px solid #fff
    width: 30px
    height: 30px
    border-radius: 30px
    background: url(../images/info-layers/gas-station-existing.png) center no-repeat #b33d00
    .count
      border: 1px solid #b33d00

  &.gas-station-perspective-marker
    border: 3px solid #fff
    width: 30px
    height: 30px
    border-radius: 30px
    background: url(../images/info-layers/gas-station-perspective.png) center no-repeat #bdb3b1
    .count
      border: 1px solid #bdb3b1



