.bubble
 &.infrastructure-marker
    z-index 0 !important
    .inner-circle
      width: 100%
      height: 100%
      background-size: 2em
      background-color: transparent
    .count
      line-height: 14px
      text-align: center
      border-radius: 15px
      background-color: #FFF
      position: absolute
      top: -5px
      right: -8px
      font-size: 9px
      color: #000
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      padding: 0 3px
      min-width: 8px
      
  &.gas-distribution-station-marker
    .inner-circle
      background-image url(../images/infralayers/gas-distribution-stations.svg)

  &.gas-pipeline-marker
    .inner-circle
      background-image url(../images/infralayers/gas-pipeline.svg)

  &.heat-only-boiler-station-marker
    .inner-circle
      background-image url(../images/infralayers/heat-only-boiler-stations.svg)

  &.central-heating-unit-marker
    .inner-circle
      background-image url(../images/infralayers/central-heating-units.svg)

  &.heating-main-marker
    .inner-circle
      background-image url(../images/infralayers/heating-mains.svg)

  &.diesel-power-plant-marker
    .inner-circle
      background-image: url(../images/infralayers/diesel-power-plants.svg)

  &.duel-fuel-power-plant-marker
    .inner-circle
      background-image url(../images/infralayers/duel-fuel-power-plants.svg)

  &.geothermal-electricity-plant-marker
    .inner-circle
      background-image url(../images/infralayers/geothermal-electricity-plants.svg)

  &.hydro-plant-marker
    .inner-circle
      background-image url(../images/infralayers/hydro-plants.svg)

  &.transformer-substation-marker
    .inner-circle
      background-image url(../images/infralayers/transformer-substations.svg)

  &.electric-power-transmission-marker
    .inner-circle
      background-image url(../images/infralayers/electric-power-transmissions.svg)

  &.water-supply-marker
    .inner-circle
      background-image url(../images/infralayers/water-supplies.svg)

  &.wastewater-treatment-plant-marker
    .inner-circle
      background-image url(../images/infralayers/wastewater-treatment-plants.svg)

  &.sewer-marker
    .inner-circle
      background-image url(../images/infralayers/sewers.svg)

  &.wind-plant-marker
    .inner-circle
      background-image url(../images/infralayers/wind-plants.svg)

  &.intake-marker
    .inner-circle
      background-image url(../images/infralayers/intakes.svg)