#presentation-container
	.presentation-view.density
		&.opened
			top 19em
			right 0
			left 4px
			width 21.8em
			max-height 100%
			overflow hidden
			padding 0 2.9em 0 1.3em
			border 1px solid #d2d2d2
			background-color #fff

			.color
				float left
			.title
				margin-left 4em