.filter
  border-top: 1px solid #DDD
  padding: 1.5em 0
  position: relative

  &:first-child
    border-top: none
    padding-top: 0

  .filter-title-container
    margin: 0 -29px 0 -13px;
    background: #eeeeee
    padding: 12px 14px
    .title
      display: inline-block
      font-size: 1.4em
      color: #444444
      font-family: "Helvetica Neue"
      font-weight 400
      margin-right: 10px
    .currency
      font-family: "Helvetica Neue"
      font-weight 400
      display: inline-block
      font-size: 1.4em
      color: #444444
.filters
  .filter
    &:first-child
      border-top: none
